.row {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;           /* IE 10 */
    flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */
  }
  ._25 {
    flex: 2.5;
    -webkit-box-flex: 2.5;
    -webkit-flex: 2.5;
    -ms-flex: 2.5;
  }
  ._30 {
    flex: 3;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
  }
  ._40 {
    flex: 4;
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
  }
  ._50 {
    flex: 5;
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -ms-flex: 5;
  }
  ._70 {
    flex: 7;
    -webkit-box-flex: 7;
    -webkit-flex: 7;
    -ms-flex: 7;
  }
  ._80 {
    flex: 8;
    -webkit-box-flex: 8;
    -webkit-flex: 8;
    -ms-flex: 8;
  }
  ._90 {
    flex: 9;
    -webkit-box-flex: 9;
    -webkit-flex: 9;
    -ms-flex: 9;
  }
  ._20 {
    flex: 2;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
  }
}
